.button {
  margin: 10px 0;
  background-color: var(--primary-black);
  border: 2px solid var(--primary-black);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--primary-white);
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all var(--transition-speed);
}

.button:hover {
  background-color: var(--primary-white);
  color: var(--primary-black);
  /* transform: translateY(-1px); */
}

.button:focus {
  outline: none;
  box-shadow: var(--focus-ring);
}

.button:disabled {
  color: grey;
  background-color: white;
  border-color: grey;
}

.log-out-button {
  font-family: inherit;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--primary-white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all var(--transition-speed);
}

.log-out-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.show-password-btn {
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  transition: all 0.05s ease-in-out;
  cursor: pointer;
}

.show-password-btn:hover {
  color: rgb(71, 71, 71);
}

.show-password-btn:active {
  background-color: var(--primary-white);
  transform: translateY(calc(-50% + 2px));
}
