.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  text-align: left;
  color: var(--primary-white);
  border: 1px solid white;
  /* optional: set a min-height so short items still look balanced */
  min-height: 200px;
  position: relative;
}

.event-header {
  display: flex;
  justify-content: space-between;
}

.event-title {
  margin: 0;
  display: flex;
  align-items: center;
}

.event > div > a {
  color: var(--primary-white);
  text-decoration: none;
  position: relative;
  transition: all var(--transition-speed);
}

.event-actions {
  justify-self: flex-end;
}

.confirmation-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100%;
}
