.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event {
  padding: 1rem;
  flex-grow: 1;
  text-align: left;
  color: var(--primary-white);
  border: 1px solid white;
}

.event-title {
  margin: 0;
}

.event > div > a {
  color: var(--primary-white);
  margin: 5px 0;
  text-decoration: none;
  position: relative;
  transition: all var(--transition-speed);
}

.event > div > a:hover {
  text-decoration: underline;
}
