@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body {
  margin: 0;
  font-family: "Roboto Mono", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.event-container {
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  max-width: 500px;
  min-height: 500px;
  text-align: left;
  color: white;
}

.event-container > div > a {
  color: white;
  margin: 5px 0;
}
.event-container > div > a:hover {
  font-weight: bold;
}

/* .event-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

.create-link {
  color: white;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
}

header > h1 {
  margin: 30px;
}

header > a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

header > a:hover {
  text-decoration: underline;
  font-weight: bold;
}

button {
  display: block;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  /* border: 1px solid black; */
}

.invalid {
  border-color: red;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 40%;
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 25px 0 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444444;
}

form {
  margin: 30px auto;
  width: 500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding: 10px;
}

.logged-in {
  width: 50%;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  font-weight: bold;
  width: 100%;
  height: 100px;
  color: rgb(255, 255, 255);
  background-color: white;
  color: black;
}

.alert > p {
  grid-column: span 2;
  justify-self: center;
}

.alert > button {
  width: 100px;
  margin: 5px;
  color: black;
}

.alert > button:hover {
  border: solid black;
}

@media (max-width: 750px) {
  header {
    justify-content: space-between;
    color: white;
    margin: 0 0 20px 0;
    padding: 1rem;
  }

  header > h1 {
    font-size: 16px;
    margin: 0;
  }

  header > a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
  }

  header > a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}
