@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body {
  margin: 0;
  font-family: "Roboto Mono", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.event {
  padding: 20px;
  text-align: left;
  color: white;
}

.event > div > a {
  color: white;
  margin: 5px 0;
}
.event > div > a:hover {
  font-weight: bold;
}

.create-link {
  color: white;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 1rem;
}

.required {
  color: red;
}

.flex-row {
  display: flex;
  width: 100%;
}

.password-input {
  flex: 3;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-evenly;
  color: white;
}

.title {
  font-size: 3rem;
}

header > a,
header > nav > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

header > a:hover,
header > nav > a:hover,
.active {
  text-decoration: underline;
  font-weight: bold;
}

header .button {
  display: block;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.invalid {
  border-color: red;
}

.log-out-button {
  font-family: inherit;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}

.log-out-button:hover {
  text-decoration: underline;
  font-weight: bold;
}

.form-field {
  width: 100%;
  padding: 12px 20px;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.show-password-btn {
  border: none;
  font-size: 1rem;
  background-color: transparent;
  position: absolute;
  right: 7px;
  top: 11px;
}

input[type="submit"] {
  width: 40%;
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444444;
}

form {
  gap: 1rem;
  margin: 30px auto;
  width: 500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding: 10px;
  display: block;
}

.logged-in {
  width: 50%;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  font-weight: bold;
  width: 100%;
  height: 100px;
  color: rgb(255, 255, 255);
  background-color: white;
  color: black;
}

.alert > p {
  grid-column: span 2;
  justify-self: center;
}

.alert > button {
  width: 100px;
  margin: 5px;
  color: black;
}

.alert > button:hover {
  border: solid black;
}

@media (max-width: 750px) {
  header {
    justify-content: space-between;
    color: white;
    padding: 1rem;
  }

  header > h1 {
    font-size: 16px;
    margin: 0;
  }

  header > a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
  }

  header > a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}
